

.abstract {
background-color:rgba(0, 0, 0, 0.0470588);
text-align:left; 
vertical-align: middle; 
padding:10px 10px 10px 10px;
border-radius: 10px;
margin:auto;
}




.word-logo {
  display: inline-block;
  font-size: 1.em;
  font-weight:600;
 /*color: #5757af;*/
  color: black;
  font-family: "Calibri", "Source Sans Pro", sans-serif; 
  line-height: 10px;
  vertical-align: middle;
}


.instructor-logo {
  display: inline-block;
  font-size: 18px;
  font-weight:600;
 /*color: #5757af;*/
  color: white;
  line-height: 10px;
  vertical-align: middle;
  width: 100%;
}


.instructor-bordered-left {
    padding-left: 24px;
    padding-right: 24px
}

@media (min-width: 120px) {
    .instructor-bordered-left {
        border-left: 1px solid;
    }

	.instructor-bordered-right {
	    padding-left: 24px;
	    padding-right: 24px
	}

	@media (min-width: 120px) {
	    .instructor-bordered-right {
	        border-right: 1px solid;
	    }





.instructorphoto img {
  width: 120px;
  border-radius: 120px;
  margin-bottom: 10px;
}





.speaker-wrap {
    width: 100%;
    display: inline-block;
}
.speakerphoto,
.card {
    display: inline-block;
    vertical-align: middle
}


.speakerphoto img {
    width: 90px;
    height: 90px;
    border-radius: 90px;
    margin-bottom: 0px;
    margin-left: 40px;
    margin-right: 10px;
    display: inline-block;
    float:left;
    vertical-align:middle;
}


.speakerphoto {
    float: left;
    display: inline-block;
}


.instructor {
  display: inline-block;
  width: 120px;
  text-align: center;
  margin-right: 20px;
}


.talkdate {
    margin-left: 10px;
}

.speaker {
    margin-left: 10px;
}

.speakerposition {
    margin-left: 10px;
}


.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px
}


.header-logo-cj {
    float: left;
    margin-right: 10px;
    margin-left: -2px;
    color: #333;
    white-space: nowrap;
    height: 32px;
    display: inline-block;

}


.header-logo-cj span {
    height: 32px; /* image's height */
    display:inline-block;
    vertical-align: middle;
    font-size: 1em;
  font-weight:600;
 /*color: #5757af;*/
  color: black;
  font-family: "Calibri", "Source Sans Pro", sans-serif; 
}

.header-logo-cj:hover {
    color: #4078c0;
    text-decoration: none
}

.lead{
    font-size: 40px;
	color:white;
    font-weight: 400;
    line-height: 1.4
}



/* Github Stuff */


.container {
    width: 980px;
    margin-right: auto;
    margin-left: auto
}

.container::before {
    display: table;
    content: ""
}

.container::after {
    display: table;
    clear: both;
    content: ""
}

.container-md {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto
}

.container-md::before {
    display: table;
    content: ""
}

.container-md::after {
    display: table;
    clear: both;
    content: ""
}

.container-lg {
    max-width: 1004px;
    margin-right: auto;
    margin-left: auto
}

.container-lg::before {
    display: table;
    content: ""
}

.container-lg::after {
    display: table;
    clear: both;
    content: ""
}

.container-xl {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto
}

.container-xl::before {
    display: table;
    content: ""
}

.container-xl::after {
    display: table;
    clear: both;
    content: ""
}

.columns {
    margin-right: -10px;
    margin-left: -10px
}

.columns::before {
    display: table;
    content: ""
}

.columns::after {
    display: table;
    clear: both;
    content: ""
}

.column {
    float: left;
    padding-right: 10px;
    padding-left: 10px
}

.one-third {
    width: 33.333333%
}

.two-thirds {
    width: 66.666667%
}

.one-fourth {
    width: 25%
}

.one-half {
    width: 50%
}

.three-fourths {
    width: 75%
}

.one-fifth {
    width: 20%
}

.four-fifths {
    width: 80%
}

.single-column {
    padding-right: 10px;
    padding-left: 10px
}

.table-column {
    display: table-cell;
    width: 1%;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: top
}

.centered {
    display: block;
    float: none;
    margin-right: auto;
    margin-left: auto
}

.col-1 {
    width: 8.33333%
}

.col-2 {
    width: 16.66667%
}

.col-3 {
    width: 25%
}

.col-4 {
    width: 33.33333%
}

.col-5 {
    width: 41.66667%
}

.col-6 {
    width: 50%
}

.col-7 {
    width: 58.33333%
}

.col-8 {
    width: 66.66667%
}

.col-9 {
    width: 75%
}

.col-10 {
    width: 83.33333%
}

.col-11 {
    width: 91.66667%
}

.col-12 {
    width: 100%
}

@media (min-width: 544px) {
    .col-sm-1 {
        width: 8.33333%
    }

    .col-sm-2 {
        width: 16.66667%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-4 {
        width: 33.33333%
    }

    .col-sm-5 {
        width: 41.66667%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-7 {
        width: 58.33333%
    }

    .col-sm-8 {
        width: 66.66667%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-10 {
        width: 83.33333%
    }

    .col-sm-11 {
        width: 91.66667%
    }

    .col-sm-12 {
        width: 100%
    }
}

@media (min-width: 768px) {
    .col-md-1 {
        width: 8.33333%
    }

    .col-md-2 {
        width: 16.66667%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-4 {
        width: 33.33333%
    }

    .col-md-5 {
        width: 41.66667%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-7 {
        width: 58.33333%
    }

    .col-md-8 {
        width: 66.66667%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-10 {
        width: 83.33333%
    }

    .col-md-11 {
        width: 91.66667%
    }

    .col-md-12 {
        width: 100%
    }
}

@media (min-width: 1004px) {
    .col-lg-1 {
        width: 8.33333%
    }

    .col-lg-2 {
        width: 16.66667%
    }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-4 {
        width: 33.33333%
    }

    .col-lg-5 {
        width: 41.66667%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-7 {
        width: 58.33333%
    }

    .col-lg-8 {
        width: 66.66667%
    }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-10 {
        width: 83.33333%
    }

    .col-lg-11 {
        width: 91.66667%
    }

    .col-lg-12 {
        width: 100%
    }
}

@media (min-width: 1280px) {
    .col-xl-1 {
        width: 8.33333%
    }

    .col-xl-2 {
        width: 16.66667%
    }

    .col-xl-3 {
        width: 25%
    }

    .col-xl-4 {
        width: 33.33333%
    }

    .col-xl-5 {
        width: 41.66667%
    }

    .col-xl-6 {
        width: 50%
    }

    .col-xl-7 {
        width: 58.33333%
    }

    .col-xl-8 {
        width: 66.66667%
    }

    .col-xl-9 {
        width: 75%
    }

    .col-xl-10 {
        width: 83.33333%
    }

    .col-xl-11 {
        width: 91.66667%
    }

    .col-xl-12 {
        width: 100%
    }
}

.text-right {
    text-align: right !important
}

.text-left {
    text-align: left !important
}

.text-center {
    text-align: center !important
}

.text-normal {
    font-weight: normal !important
}

.text-bold {
    font-weight: 600 !important
}

.text-italic {
    font-style: italic !important
}

.text-uppercase {
    text-transform: uppercase !important
}

.no-underline {
    text-decoration: none !important
}

.no-wrap {
    white-space: nowrap !important
}


.columns-vertically-centered .column {
    margin-top: 20px;
    text-align: center
}

@media (min-width: 768px) {
    .columns-vertically-centered {
        display: table;
        table-layout: fixed
    }

    .columns-vertically-centered .column {
        display: table-cell;
        float: none;
        text-align: left;
        vertical-align: middle
    }

    .columns-vertically-centered.columns-reverse {
        direction: rtl
    }

    .columns-vertically-centered.columns-reverse .column {
        direction: ltr
    }
}

.text-white {
    color: #fff !important
}

.tile-block {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5
}

@media (min-width: 768px) {
    .tile-row {
        display: table;
        max-width: 1330px;
        margin: 0 auto;
        overflow: hidden
    }
}

.tile {
    padding: 6px 24px
}

@media (min-width: 768px) {
    .tile {
        display: table-cell;
        vertical-align: middle
    }
}

@media (min-width: 1004px) {
    .tile {
        padding: 24px 36px
    }
}

@media (max-width: 768px) {
    .tile {
        display: block;
        float: none;
        width: 100%
    }
}

@media (min-width: 768px) {
    .tile.one-fourth {
        float: left;
        width: 50%
    }
}

@media (min-width: 1004px) {
    .tile.one-fourth {
        float: none;
        width: 25%;
        border-left: 0
    }
}

.tile-bordered {
    padding-top: 24px;
    padding-bottom: 24px
}

.tile-bordered:not(:last-child) {
    border-bottom: 1px solid #e5e5e5
}

@media (min-width: 768px) {
    .tile-bordered {
        border-right: 1px solid transparent
    }

    .tile-bordered:not(:last-child) {
        border-right: 1px solid #e5e5e5;
        border-bottom: 0
    }
}
